
    /* Footer */
    .footer {
        background-color: #ffa14e;
        color: white;
        padding: 30px;
    }

    

    /* Footer link */
    .footer a {
        color: white;
        text-decoration: none;
    }

    /* Footer link hover */
    .footer a:hover {
        color: #333;
        text-decoration: underline;
    }

    /* Footer icons */
    .footer-icons i {
        font-size: 25px;
        margin-right: 15px;
    }

    /* Giảm chiều rộng bản đồ */
    .embed-responsive-16by9 {
        height: 200px; /* Rút ngắn chiều cao bản đồ cho cân đối */
        
    }

    .embed-responsive-16by9 iframe {
        border-radius: 10px;
    }
